<html>
<head>
<title>{{tp}} - Comparison</title>
    <link rel = "stylesheet" href="http://cdn.amazeui.org/amazeui/2.4.0/css/amazeui.min.css">
    <link rel = "stylesheet" href="../static/button.css">
    <meta charset="utf-8" />
</head>
<body>

<div class="am-topbar am-u-sm-centered">
    <h1 class="am-active" style="text-align:center" >Welcome, Man</h1>
</div>

<div class="am-intro-left am-active" style="height:150px">

<P style="text-align: center"> <a href="/shared" style="text-align: center">共享文件，提供下载</a> </P>
<P style="text-align: center"> <a href="/uploads" style="text-align: center">cv对比</a> </P>

</div>
</body>
</html>